<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title>Index<title>

<body>
    <% let bankAccount = 0 %>
    <div class="container">
        <br>
        <br>
    
        <h1>Budgtr ALL</h1>
            <button><a href="/budget/new">NEW EXPENSE</a></button>
       
            <table>
                <% for(let i = 0; i < allBudget.length; i++) { %>
                <tr>
                <td><%=allBudget[i].date %></td>
               
                <td><a href="/budget/<%=i%>"><%=allBudget[i].name %></a></td>
               
                <td><%=allBudget[i].amount %></td>
               
                <% bankAccount = parseInt(allBudget[i].amount) + bankAccount%>
                </tr>
                <% } %>
                <% if (bankAccount >= 1000) { %>
            
                <button type="button" class="btn btn-success">Success<%=bankAccount%></button>
                
                <%  } else if (bankAccount < 0) { %>

                <button type="button" class="btn btn-danger">Danger<%=bankAccount%></button>
            
                <%} else {%>
                
                <button type="button" class="btn btn-warning">Warning<%=bankAccount%></button>
             
                <%}%>   
            
                <% console.log(allBudget) %>
            </table>
    </div>
    <div>
        <a href="/budget/new.ejs"><button type="button" class="btn btn-primary">NEW EXPENSE</button></a>
    </div>
</body>
</html>